<h4>Now your results</h4>

<p>Your word:</p> <%= @answer %>
<p>Time Taken to answer:</p> <%=@score[:time] %>
<p>Translation:</p> <%=@score[:translation] %>
<p>Your score:</p> <%=@score[:score] %>
<p>Message:</p> <%=@score[:message] %>
